// Primary Colors | Button Bg color : 
$primary-red: hsl(12, 88%, 59%);

// Neutral Colors  :

$Netural-Gblue: hsl(227, 12%, 61%);
$Netural-Dblue: hsl(233, 12%, 13%);
$Netural-Pred: hsl(13, 100%, 96%);
$Netural-Gwhite: hsl(0, 0%, 98%);


// Body Font size : 

$body-fontsize : 16px ; 

